<h2>Nuevo tutorial</h2>

<form [formGroup]="tutorialForm" (ngSubmit)="saveTutorial()">
    <div class="mb-3">
      <label for="title" class="form-label">Titulo del tutorial</label>
      <input type="text" formControlName="title" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <input type="text" formControlName="description" class="form-control" id="description">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" formControlName="published" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Check me out</label>
    </div>
    <button type="submit" (click)="saveTutorial()" class="btn btn-primary">Guardar</button>
  </form>

