# Ignorar dependencias de Angular
angular19/node_modules/
angular19/dist/

# Ignorar archivos de compilación de Spring Boot
spring-boot-jdbctemplate/target/
spring-boot-jdbctemplate/.mvn/
spring-boot-jdbctemplate/.idea/

# Ignorar archivos del sistema
.DS_Store
